* {
    box-sizing: border-box;
}

.list {
    max-width: 900px;
    margin: 20px auto;
}
  
.list table {
    width: 100%;
    border-spacing: 0;
}
  
td {
    border: 1px solid #050505;
    padding: 8px;
    text-align: center;
}
  
table thead {
    background-color: #ffaa2b;
    color: #ffffff;
}

th {
    padding: 10px;
}
  
button {
    padding: 8px 20px;
    border: 0;
    background-color: #ffaa2b;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: #ffaa2b;
}

form {
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}
  
form div {
    margin-bottom: 10px;
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
}
  
form div input {
    padding: 3px;
}
  
  